.thunderstore-source {
    background-color: rgba(128, 128, 128, 0.5);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.source-name {
    color: #FFF;
    font-size: 12px;
    -unity-font-style: bold;
}
