
.link {
    border-bottom-color: rgb(128, 128, 255);
    border-color: rgb(128, 128, 255);
}
.link.inline {
    color: rgb(128, 128, 255);
}

.assetlink {
    border-bottom-color: rgb(168, 128, 192);
    border-color: rgb(168, 128, 192);
}
.assetlink.inline {
    color: rgb(168, 128, 192);
}

.menulink {
    border-bottom-color: rgb(128, 255, 128);
    border-color: rgb(128, 255, 128);
}
.menulink.inline {
    color: rgb(128, 255, 128);
}
