
.header-icon-composableobject>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_ComposableObject_2X_Icon.png');
}

.header-icon-manifest>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_Manifest_2X_Icon.png');
}

.header-icon-packagesource>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_PackageSource_2X_Icon.png');
}

.header-icon-pathreference>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_PathReference_2X_Icon.png');
}

.header-icon-pipeline>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_Pipeline_2X_Icon.png');
}

.header-icon-server_icon {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_Server_Icon.png');
}

.header-icon-thunderkitsetting>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_ThunderKitSetting_2X_Icon.png');
}

.header-icon-unitypackage>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_UnityPackage_2X_Icon.png');
}

.header-icon-documentation>.glyph {
    background-image: url('/Packages/com.passivepicasso.thunderkit/Graphics/Icons/TK_Documentation_2X_Icon.png');
}
.page-header-container{
    margin-top: 0px;
    margin-bottom: 0px;
}