.tkpm-toolbar {
	background-image: resource("Builtin Skins/DarkSkin/Images/Toolbar.png");
}

.toolbar-button {
	background-image: resource("Builtin Skins/DarkSkin/Images/Toolbar.png");
}
#tkpm-search-textfield {
	background-image: resource("Builtin Skins/DarkSkin/Images/toolbarsearch.png");
}
#tkpm-search-cancelbutton {
	background-image: resource("Builtin Skins/DarkSkin/Images/toolbarsearchCancelButtonOff.png");
}
