.browsebutton {
	height: 17px;
	margin-top: 2px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 2px;
}

.field-section {
    flex-grow: 1;
}

.section {
	margin-top: 5px;
	background-color: rgba(0,0,0,0.1);

}

#game-configuration-section{
}

#log-configuration-section {
}

#settings-window-section {
}

#game-config-button-container{
	flex-direction: row;
	justify-content: flex-end;
}